@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <div class="text-danger">
        <h1>Error</h1>
        <h2>Ha habido un problema en la Base de Datos</h2>
    </div>
    <p>Vuelva atrás e inténtelo de nuevo</p>
</div>