@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <div class="text-danger">
        <h1>Error</h1>
        <h2>No se encuentran datos para ese Invernadero y/o dicha Fecha</h2>
    </div>

    <h5>Pista: Todos los Invernaderos tienen registros de Temperatura desde el 29 de Abril hasta el 5 de Mayo de 2025</h5>
    <p>Vuelva atrás e inténtelo de nuevo</p>
</div>
